body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

#app-div {
  margin-top: 150px; 
}

#site-container {
  display: flex;
  justify-content: center;
}

/* nav bar */
#nav-container {
  margin-right: 40px;
  height: 500px;
  position: relative;
}

#nav-container * h1 {
  font-weight: 700;
  font-size: 25px;
  text-align: right;
}

#nav-container * a {
  text-decoration: none;
  color: #333333;
  font-size: 1.3em;
}

nav * ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

li {
  text-align: right;
  list-style-type: none;
  margin-top: 10px;
}

#nav-links * a {
  text-decoration: none;
  color: #333333;
  transition: 0.2s;
}

#nav-links * a:hover {
  color: white;
  background-color: #333333;
  transition: 0.2s;
}

#contact {
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 40px;
  text-align: right;
}

#contact > a {
  color: #333333;
  cursor: pointer;
  margin-left: 20px;
  transition: 0.2s;
  font-size: 35px;
}

#contact > a:hover {
  font-size: 45px;
  transition: 0.2s;
}

/* vertical line */
#vl {
  border-right: 1px solid #333333;
  height: 500px;
}

/* content */
#content-container {
  margin-left: 40px;
  width: 800px;
  height: 500px;
}

#content-title {
  border-bottom: 1px solid #333333;
  padding-bottom: 20px;
  font-size: 2em;
  margin-top: 0px;
  width: 800px;
}

/* about me */
#about-me {
  margin: 10px 150px 10px 50px;
}

#about-me > p {
  font-size: 20px;
  line-height: 40px;
}

/* projects */
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
}

#projects > a {
  text-decoration: none;
  color: #333333;
}

#project {
  margin: 30px;
  padding: 40px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  overflow: hidden;
}

#project:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

#project > h1 {
  margin: 0px 0px 20px 0px;
  font-size: 1.4em;
  text-align: center;
}

#project > p {
  margin-bottom: 0px;
}

#project > img {
  width: 100%;
}
